@import './null.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap');

/* ======= COMMON-STYLE ===================================================================================== */

body {
   /* padding: 0px 15px; */
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.22;
   color: #fff;
}

/* body._lock {
   overflow: hidden;
} */

/* .wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
} */

/* [class*="__container"] {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0px 15px;
} */

/* ======= HEADER ===================================================================================== */
.header {
   min-height: 100vh;
   /* max-height: 1204px; */
   /* сохраняем пропорции */
   /* aspect-ratio: 1920 / 1024; */
   background-color: #C4C4C4;
   position: relative;
}

/* ======= header-slider ===================================================================================== */
.header-slider {
   width: 100%;
   height: 100%;
}

.header-slider::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   background: linear-gradient(181.06deg, rgba(0, 0, 0, 0.2) 0.91%, rgba(255, 255, 255, 0) 116.71%, rgba(255, 255, 255, 0) 116.72%);
}

.header-slider__item {
   position: relative;
   width: 100%;
   height: 100%;
   background: center / cover no-repeat;
}

.header-slider__img-bg {
   width: 100%;
   height: 100vh;
   -o-object-fit: cover;
   object-fit: cover;
}

.tns-nav {
   position: absolute;
   top: 50%;
   right: 2%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.tns-nav button {
   display: block;
   width: 2px;
   height: 80px;
   background-color: #fff;
   opacity: 0.3;
}

.tns-nav button.tns-nav-active {
   opacity: 1;
}

.header-slider-controls {
   position: absolute;
   right: 2%;
   bottom: 5%;
   display: grid;
   justify-items: start;
   text-align: left;
   gap: 15px;
   z-index: 3;
}

.header-slider-controls__arrows {
   transform: translateX(-20%);
   display: flex;
   gap: 5px;
}

.header-slider-controls__count {
   font-weight: 600;
   font-size: 18px;
   color: rgb(255, 255, 255, 0.3);
}

.header-slider-controls__count-current {
   font-size: 32px;
   color: rgb(255, 255, 255, 1);
}

/* ======= header-content ===================================================================================== */
.header__content {
   padding: 2% 3% 3%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.header__head {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__nav {
   display: flex;
}

.header__nav>li+li {
   margin-left: 65px;
}

.header__logo {
   transition: opacity 0.2s;
}

/* .logo {}
.header__nav-item {} */

.header__link {
   font-weight: 600;
   font-size: 18px;
   transition: opacity 0.2s;
}

.header__logo:hover,
.icon-menu:hover,
.header__link:hover,
.header__link:focus {
   opacity: 0.7;
}

.header__link:active {
   opacity: 0.5;
}

/* .header__nav-btn {}
.icon-menu {} */

.header__title-box {
   text-align: center;
   width: 100%;
   position: relative;
}

.header__socials {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.social__image {
   transition: opacity 0.3s;
}

.social__image:hover,
.social__image:focus {
   opacity: 0.7;
}

/* .social {}
.social__image {} */

.header__title-small {
   margin-bottom: -30px;
   font-weight: 500;
   font-size: 30px;
   letter-spacing: 0.55em;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.7);
}

.header__title {
   font-weight: 700;
   font-size: 250px;

   background: linear-gradient(27.06deg, rgb(0, 0, 0, 0.9) -3.87%, rgba(255, 255, 255, 0) 35%), #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.header__trips {
   width: 90%;
   display: flex;
   justify-content: center;
}

.header__trips>*+* {
   margin-left: 27px;
}

.trip {
   flex: 0 0 30%;
   max-width: 415px;
   padding: 2% 1% 1.5% 5%;
   background: url('/img/icons/map-marker-line.svg') 32px 50% no-repeat;
   position: relative;
   transition: background-color 0.2s, -webkit-filter 0.2s;
   transition: filter 0.2s, background-color 0.2s;
   transition: filter 0.2s, background-color 0.2s, -webkit-filter 0.2s;
}

.trip::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.1);
   -webkit-filter: blur(3px);
   filter: blur(3px);
   border-radius: 5px;
}

.trip:hover::before,
.trip:focus::before {
   -webkit-filter: blur(0px);
   filter: blur(0px);
   background-color: rgba(255, 255, 255, 0.11);
}

.trip:active::before {
   -webkit-filter: blur(0px);
   filter: blur(0px);
   background-color: rgba(255, 255, 255, 0.2);
}

.trip__title {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 4px;
}

.trip__text {
   opacity: 0.4;
}

.header__see-more {
   display: block;
   position: absolute;
   left: 3%;
   bottom: 4%;
   padding-left: 60px;
   font-weight: 600;
   font-size: 14px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   opacity: 0.6;
   transform: rotate(-90deg);
   transform-origin: left top;
   transition: opacity 0.3s;
}

.header__see-more::before {
   position: absolute;
   content: "";
   left: 0;
   top: 50%;
   /* top: calc( 50% - 1.5px ); */
   transform: translateY(-50%);
   background-color: rgb(255, 255, 255);
   opacity: 0.3;
   display: block;
   width: 38px;
   height: 3px;
}

.header__see-more:hover,
.header__see-more:focus,
.header__see-more:active,
.header__see-more:hover::before,
.header__see-more:focus::before,
.header__see-more:active::before {
   opacity: 1;
}

@media (max-width: 2160px) {

   .header__content {
      padding-bottom: 3.5%;
   }
}

@media (max-width: 2045px) {
   .header__content {
      padding: 2% 3% 4%;
   }

   .header__title {
      font-size: 230px;
   }

   .trip {
      padding: 2% 1% 1.5% 6%;
   }
}

@media (max-width: 1850px) {
   .header__content {
      padding: 2% 3% 3.5%;
   }

   .header-slider-controls {
      gap: 10px;
   }

   .header__title-small {
      font-size: 28px;
   }

   .header__title {
      font-size: 200px;
   }
}

@media (max-width: 1680.98px) {
   .trip {
      padding: 2% 1% 1.5% 7%;
   }
}

@media (max-width: 1500.98px) {
   .header__content {
      padding: 2.5% 3% 4%;
   }

   .header__trips>*+* {
      margin-left: 20px;
   }

   .trip {
      flex: 0 0 25%;
      max-width: 375px;
      padding: 2% 1% 1.5% 6%;
      background-position: 20px 50%;
   }
}

@media (max-width: 1350.98px) {
   .tns-nav button {
      height: 60px;
   }

   .header-slider-controls {
      gap: 5px;
   }

   .header__title-small {
      font-size: 22px;
   }

   .header__title {
      font-size: 150px;
   }
}

@media (max-width: 1250.98px) {
   .header-slider-controls__arrows {
      transform: translateX(-15%);
      gap: 0;
   }

   .header-slider-controls__count {
      font-size: 15px;
   }

   .header-slider-controls__count-current {
      font-weight: 500;
      font-size: 26px;
   }

   .header__nav>li+li {
      margin-left: 45px;
   }

   .trip {
      flex: 0 0 25%;
      max-width: 350px;
      padding: 1.5% 1% 1.5% 5%;
      background-position: 10px 50%;
   }

   .trip__title {
      font-weight: 600;
      font-size: 18px;
   }

   .trip__text {
      font-size: 14px;
   }

   .header__link {
      font-weight: 500;
      font-size: 16px;
   }

   .header__see-more {
      padding-left: 35px;
      font-weight: 500;
      font-size: 13px;
   }

   .header__see-more::before {
      width: 28px;
      height: 2px;
   }
}

@media (max-width: 1190.98px) {
   .trip {
      padding-left: 5.5%;
   }

   .header__trips>*+* {
      margin-left: 15px;
   }
}

@media (max-width: 991.98px) {
   .tns-nav {
      right: 4%;
   }

   .tns-nav button {
      height: 45px;
   }

   .header-slider-controls {
      gap: 0;
   }

   .header__title-small {
      font-size: 20px;
   }

   .header__title {
      font-size: 130px;
   }

   .trip {
      padding-left: 6%;
   }
}

@media (max-width: 900.98px) {
   .header__content {
      padding: 2.5% 3% 5%;
   }

   .trip {
      padding-left: 7%;
   }
}

@media (max-width: 778.98px) {
   .header__content {
      overflow: hidden;
   }

   .header__nav {
      display: none;
   }

   .header__trips {
      visibility: hidden;
      max-width: none;
      width: 0;
      height: 0;
      padding: 0;
      font-size: 0;
   }

   .header__title-small {
      font-size: 18px;
   }

   .header__title {
      font-size: 100px;
      line-height: 1.5;
   }
}

@media (max-width: 575.98px) {

   .header-slider-controls,
   .header__socials,
   .header__see-more {
      display: none;
   }

   .tns-nav {
      top: unset;
      right: 50%;
      bottom: 5%;
      transform: translateX(50%);
      display: flex;
   }

   .tns-nav button {
      width: 45px;
      height: 3px;
   }
}

@media (max-width: 500.98px) {
   .header__title-small {
      font-size: 16px;
   }

   .header__title {
      font-size: 80px;
      line-height: 1.7;
   }
}

@media (max-width: 430.98px) {
   .header__title-small {
      font-size: 16px;
   }

   .header__title {
      font-size: 60px;
      line-height: 2;
   }

   .header__trips {
      visibility: hidden;
      max-width: none;
      width: 0;
      height: 0;
      padding: 0;
      font-size: 0;
   }
}