@import './null.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap');

/* ======= COMMON-STYLE ===================================================================================== */

body {
   /* padding: 0px 15px; */
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.22;
   color: #fff;
}

/* body._lock {
   overflow: hidden;
} */

/* .wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
} */

/* [class*="__container"] {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0px 15px;
} */

/* ======= HEADER ===================================================================================== */
.header {
   min-height: 100vh;
   /* max-height: 1204px; */
   /* сохраняем пропорции */
   /* aspect-ratio: 1920 / 1024; */
   background-color: #C4C4C4;
   position: relative;
}

/* ======= header-slider ===================================================================================== */
.header-slider {
   width: 100%;
   height: 100%;
}

.header-slider::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   background: linear-gradient(181.06deg, rgba(0, 0, 0, 0.2) 0.91%, rgba(255, 255, 255, 0) 116.71%, rgba(255, 255, 255, 0) 116.72%);
}

.header-slider__item {
   position: relative;
   width: 100%;
   height: 100%;
   background: center / cover no-repeat;
}

.header-slider__img-bg {
   width: 100%;
   height: 100vh;
   object-fit: cover;
}

.tns-nav {
   position: absolute;
   top: 50%;
   right: 3%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.tns-nav button {
   display: block;
   width: 2px;
   height: 80px;
   background-color: #fff;
   opacity: 0.3;
}

.tns-nav button.tns-nav-active {
   opacity: 1;
}

.header-slider-controls {
   position: absolute;
   right: 2.5%;
   bottom: 5%;
   display: grid;
   justify-items: start;
   text-align: left;
   gap: 15px;
   z-index: 3;
}

.header-slider-controls__arrows {
   transform: translateX(-20%);
   display: flex;
   gap: 5px;
}

.header-slider-controls__count {
   font-weight: 600;
   font-size: 18px;
   color: rgb(255, 255, 255, 0.3);
}

.header-slider-controls__count-current {
   font-size: 32px;
   color: rgb(255, 255, 255, 1);
}

/* ======= header-content ===================================================================================== */
.header__content {
   padding: 2% 3% 3%;
   ;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.header__head {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__nav {
   display: flex;
}

.header__nav>li+li {
   margin-left: 65px;
}

.header__logo {
   transition: opacity 0.2s;
}

/* .logo {}
.header__nav-item {} */

.header__link {
   font-weight: 600;
   font-size: 18px;
   padding-top: 5px;
   transition: opacity 0.2s;
}

.header__logo:hover,
.icon-menu:hover,
.header__link:hover,
.header__link:focus {
   opacity: 0.7;
}

.header__link:active {
   opacity: 0.5;
}

/* .header__nav-btn {}
.icon-menu {} */

.header__title-box {
   text-align: center;
   width: 100%;
   position: relative;
}

.header__socials {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.social__image {
   transition: opacity 0.3s;
}

.social__image:hover,
.social__image:focus {
   opacity: 0.7;
}

/* .social {}
.social__image {} */

.header__title-small {
   margin-bottom: -30px;
   font-weight: 500;
   font-size: 30px;
   letter-spacing: 0.55em;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.7);
}

.header__title {
   font-weight: 700;
   font-size: 250px;

   background: linear-gradient(27.06deg, rgb(0, 0, 0, 0.9) -3.87%, rgba(255, 255, 255, 0) 35%), #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.header__trips {
   width: 90%;
   display: flex;
   justify-content: center;
}

.header__trips>*+* {
   margin-left: 27px;
}

.trip {
   flex: 0 0 30%;
   max-width: 415px;
   padding: 1.7% 1% 1.5% 4.5%;
   background: url('/img/icons/map-marker-line.svg') 32px 50% no-repeat;
   position: relative;
   transition: filter 0.2s, background-color 0.2s;
}

.trip::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.1);
   filter: blur(3px);
   border-radius: 5px;
}

.trip:hover::before,
.trip:focus::before {
   filter: blur(0px);
   background-color: rgba(255, 255, 255, 0.11);
}

.trip:active::before {
   filter: blur(0px);
   background-color: rgba(255, 255, 255, 0.2);
}

.trip__title {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 4px;
}

.trip__text {
   opacity: 0.4;
}

.header__see-more {
   display: block;
   position: absolute;
   left: 3%;
   bottom: 4.5%;
   padding-left: 60px;
   font-weight: 600;
   font-size: 14px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   opacity: 0.6;
   transform: rotate(-90deg);
   transform-origin: left top;
   transition: opacity 0.3s;
}

.header__see-more::before {
   position: absolute;
   content: "";
   left: 0;
   top: 50%;
   /* top: calc( 50% - 1.5px ); */
   transform: translateY(-50%);
   background-color: rgb(255, 255, 255);
   opacity: 0.3;
   display: block;
   width: 38px;
   height: 3px;
}

.header__see-more:hover,
.header__see-more:focus,
.header__see-more:active,
.header__see-more:hover::before,
.header__see-more:focus::before,
.header__see-more:active::before {
   opacity: 1;
}